/****************************TAG SELECTORS*******************/
body {
    background: hsl(30, 38%, 92%);
   
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 20;
}

h3 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14;
    font-weight: 700;
}




/****************************CLASS SELECTORS****************/
.attribution {
    text-align: center;
    
}
.image-box {
  background: white;
  text-align: left;
  margin: 15% auto;
  height: 500px;
  width: 600px;
  border-radius: 5%;
  
}

.image-product {
    height: 500px;
    width: 320px;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    position: relative;
    right: 5%;
    float: left;
    text-align: left;
}

.perfume {
    text-align: left;
    margin-right: 30%;
    position: relative;
    top: 5%;
    right: 2%;
}

.item-name {
    position: relative;
    top: 5%;
    right: 2%;
}

.body-text {
    position: relative;
    top: 5%;
    right: 2%;
}

.new-price {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    position: relative;
    top: 5%;
    color: hsl(158, 36%, 37%);
    right: 2%;
}

.old-price {
    position: relative;
    bottom: 7%;
    left: 25%;
    text-decoration: line-through;
}

.cart {
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Fraunces', serif;
    font-size: 26px;
    font-weight: 1000;
    height: 75px;
    width: 250px;
    position: relative;
 
}
